body {
    background: #4682B4;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 150%;
    color: #ffffff;

}

#button {
    margin-top: 20px;
    height: 50px;
    width: 200px;
    align: center;
}