<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/css/reg_log.css">
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
    {% if form.does_not_exist %}
        <p>{{ form.does_not_exist }}</p>
    {% elif form.bad_login %}
        <p> {{ form.bad_login }} </p>
    {% elif form.error %}
        <p> {{ form.error }} </p>
    {% endif %}
    <div class="login" align="center">
        <h1>Вход</h1>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="user-box">
                <label>Логин</label>
                <input type="text" name="username" required="">
            </div>
            <div class="user-box">
                <label>Пароль</label>
                <input type="password" name="password" required="">
            </div>
            <div>
                <span></span>
                <span></span>
                <input id="button" type="button" name="log" value="Войти">
            </div>
        </form>
    </div>
</body>
</html>