<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/css/reg_log.css">
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
    <div class="reg" align="center">
        <h1>Вход</h1>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form" align="center">
                <table>

                </table>
            </div>
        <input type="submit" value="Вход">
    </form>
    </div>
</body>
</html>