<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/css/reg_log.css">
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
    <div class="content">
        <div class="header">
            <div class="navigation">
                <p><a href="{% url 'login' %}">Войти</a></p>
                <p><a href="{% url 'archive' %}">Все статьи</a></p>
            </div>
        </div>
        <form method="POST">
            {% csrf_token %}
            <h1>Вход</h1>
            <p><input type="text" name="username" placeholder="Введите имя пользователя" value="{{ form.username }}"></p>
            <p><input type="text" name="email" placeholder="Введите почту" value="{{ form.email }}"></p>
            <p><input type="password" name="password" placeholder="Введите пароль" value="{{ form.password }}"></p>
            <p><input type="submit" value="Зарегестрироваться"></p>
        </form>
    </div>
    <p class="error"> {{ form.error }} </p>
</body>
</html>